@media (max-width: 1478px) {
  .circle-restart {
    right: 0; } }
@media (max-width: 1300px) {
  .img-slide__op {
    display: none; } }
@media (max-width: 1170px) {
  .block-howwork {
    background-size: cover; }

  .block-profitable {
    height: 1729px; }

  .wrap-profitable-item .block-time-work_item {
    margin-bottom: 20px; }

  .block-profitable_deliv {
    height: auto; }

  .links-city a {
    margin-bottom: 50px; } }
@media (max-width: 1160px) {
  .wrap-service_deliv {
    margin-left: 30px; }

  .block-news {
    height: auto;
    padding-bottom: 50px; }

  .block-news .title-block {
    padding-top: 50px; }

  .item-news_img {
    margin-bottom: 15px; }

  .top-footer .link-phone {
    margin-left: 50px; }

  .link-text-phone {
    margin-left: 30px; } }
@media (max-width: 1149px) {
  .block-kmt-var_left, .block-kmt-var_right {
    width: 490px;
    height: auto; }

  .block-profitable_kmt {
    height: auto;
    padding-bottom: 50px; } }
@media (max-width: 1137px) {
  .big-title-block_main {
    display: none; }

  .block-time-work_item {
    margin-right: 90px;
    margin-bottom: 20px; } }
@media (max-width: 1100px) {
  .block-consiult_right {
    margin-left: 50px; } }
@media (max-width: 1070px) {
  .block-info_news .decor-page_kmt_cont {
    position: relative;
    top: 0;
    left: 0;
    right: auto;
    margin-top: 150px;
    margin-bottom: 20px; } }
@media (max-width: 1030px) {
  .link-phone {
    position: relative;
    z-index: 5; }

  .circle-restart {
    display: none; }

  .block-profitable_it_bottom .title-slide {
    width: 100%; }

  .wrap-profitable-item_m {
    justify-content: flex-start; } }
@media (max-width: 1024px) {
  .block-profitable {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; }

  header {
    height: 80px;
    padding-top: 0; }

  .logo {
    width: 100px;
    height: 28px;
    margin-top: 17px; }

  .logo object {
    width: 100%;
    height: 100%; }

  .link_helpdesk {
    height: 20px;
    margin-left: 16px;
    margin-top: 19px; }

  .link-phone {
    margin-top: 5px; }

  .button_helpdesk {
    top: -26px;
    background-size: 98%; }

  nav ul {
    justify-content: space-between; }

  nav ul li a {
    font-size: 16px; }

  .block-main-slider {
    height: 600px;
    background-size: 120% 100%; }

  .img-slide {
    top: auto;
    bottom: 10px;
    max-width: 485px;
    opacity: 1; }

  .block-main-slider .owl-stage-outer,
  .block-main-slider .owl-stage,
  .block-main-slider .owl-stage .owl-item,
  .block-main-slider .owl-stage .owl-item .item-slide-main {
    height: 100%; }

  .title-slide {
    max-width: 345px;
    padding-top: 209px;
    padding-left: 30px;
    font-size: 33px;
    line-height: 40px; }

  .text-slide {
    max-width: 284px;
    margin-left: 0;
    margin-top: 23px;
    padding-left: 30px; }

  .link-phone_shw {
    margin-left: 0; }

  .item-slide-main {
    position: relative; }

  .item-slide-main .title-slide {
    margin-left: 30px;
    padding-left: 0; }

  .link-phone_shw {
    margin-top: 65px;
    margin-left: 30px; }

  .container {
    padding: 0 30px; }

  .block-main-slider .container {
    padding: 0; }

  .nav-slider {
    left: 30px;
    bottom: 53px; }

  .slider-shadow-text {
    top: 88px;
    max-width: 380px;
    width: 100%;
    left: 25px;
    font-size: 85px;
    line-height: 124px; }

  .decor-slider {
    top: auto;
    bottom: 91px;
    right: 26px;
    width: 417px;
    height: 344px;
    background: url("../img/Group_49_1.png") no-repeat; }

  .big-title-block {
    display: block; }

  .big-title-block svg g text {
    font-size: 143px; }

  .big-title-block svg {
    display: block;
    width: 715px;
    margin: 0 auto; }

  .big-title-block {
    top: 19px; }

  .block-time-work {
    padding-top: 149px; }

  .block-time-work_item .work_text_item {
    max-width: 223px; }

  .block-time-work_item {
    margin-right: 15px; }

  .title-block {
    font-size: 24px; }

  .block-restart .title-block_work {
    margin-top: 173px; }

  .big-title-block_fav {
    top: -145px;
    left: -61px; }

  .big-title-block_fav svg {
    width: 100px; }

  .big-title-block_fav svg g text {
    font-size: 48px; }

  .block-time-work_fav .work_title_item {
    max-width: 100%; }

  .block-time-work_fav .block-time-work_item {
    width: 223px;
    margin-right: 13px; }

  .block-time-work_fav {
    padding-top: 76px; }

  .block-time-work_fav .work_text_item {
    font-size: 15px; }

  .title-bold-block {
    margin-top: 81px;
    font-size: 19px;
    font-weight: 600; }

  .title-bold-block_icon:before {
    top: -78px;
    width: 56px;
    height: 50px;
    background: url("../img/service%20_1_768.png") no-repeat; }

  .title-bold-block_deliv:before {
    width: 57px;
    height: 50px;
    background: url("../img/delivery_2_768.png") no-repeat; }

  .links-service {
    margin-left: 26px; }

  .wrap-service_deliv {
    margin-top: 0; }

  .big-title-block_howwork {
    top: -122px; }

  .big-title-block_howwork svg g text {
    font-size: 119px; }

  .big-title-block_howwork .circle-restart {
    top: -20px;
    right: 29px;
    display: block;
    width: 273px;
    height: 283px;
    background: url("../img/Group_50_768.png") no-repeat; }

  .howwork-items_item {
    max-width: 227px;
    margin-right: 9px; }

  .howwork-items_item .work_title_item {
    height: 44px; }

  .decor-slider {
    width: 165px;
    height: 162px;
    background: url("../img/decor_768.png") no-repeat; }

  .decor-slider_howwork {
    top: 155px;
    bottom: auto;
    right: 211px;
    left: auto; }

  .decor-slider_howwork__bt {
    bottom: 29px;
    right: 88px;
    left: auto;
    top: auto; }

  .title-block_consiult {
    width: 232px;
    line-height: 24px; }

  .block-consiult .work_text_item {
    max-width: 224px; }

  .block-consiult_right form input[type=text],
  .block-consiult_right form input[type=tel] {
    width: 225px; }

  .block-consiult_right form input.wrap-form_input__w {
    width: 468px; }

  .block-consiult_right .wrap-form:last-child {
    margin-right: 0; }

  .input-section_check {
    max-width: 440px; }

  .block-consiult_right form {
    margin-left: 8px; }

  .block-consiult {
    min-height: 623px;
    height: auto;
    padding: 150px 0; }

  .title-block_consiult {
    padding-top: 0; }

  .block-consiult_right {
    margin-top: 0;
    margin-left: 0; }

  .img-slide_consiult {
    top: -168px;
    left: 0; }

  .big-title-block__neon {
    top: auto;
    width: 100%; }

  .slider-shadow-text_hw {
    max-width: 405px;
    font-size: 204px;
    line-height: 297px; }

  .block-howwork {
    background-position: center center; }

  .block-clients {
    position: relative;
    width: 100%;
    height: 544px;
    padding: 150px 0;
    background: url("../img/man-printing 1_768.jpg") no-repeat;
    background-size: 100%; }

  .big-title-block_pres {
    top: 163px; }

  .wrap-dowmload_item {
    margin-right: 35px; }

  .block-presentations {
    height: auto;
    padding: 137px 0 150px; }

  .wrap-dowmload {
    margin-top: 75px; }

  .block-presentations .title-block_pres {
    padding-top: 0;
    margin-top: 257px; }

  .slider-clients_pres {
    margin-top: 60px; }

  .decor-slider_pres_one {
    top: 0;
    right: 88px; }

  .decor-slider_pres_two {
    top: auto;
    right: auto;
    left: 23px;
    bottom: 144px; }

  .block-news {
    padding: 93px 0 122px; }

  .decor-slider_news_two,
  .decor-slider_news_three {
    display: none; }

  .decor-slider_news_one {
    top: -94px;
    left: 30px; }

  .item-section-f_one {
    margin-right: 88px; }

  .item-section-f_two {
    margin-right: 50px; }

  .item-section-f ul {
    max-width: 165px; }

  .item-section-f_three {
    margin-right: 5px; }

  .block-restart {
    padding-bottom: 150px; }

  .block-clients:after {
    display: none; }

  .big-title-block__neon svg {
    width: 100%; }

  .block-presentations .title-block {
    padding-top: 0; }

  .block-time-work_fav .block-time-work_item {
    padding-left: 0; }

  .img-slide__op {
    top: 207px;
    bottom: 0;
    right: 0;
    opacity: 5%;
    display: block;
    width: 354px; }

  .img-slide__op img {
    width: 100%; } }
@media (max-width: 1018px) {
  .block-kmt-var_left, .block-kmt-var_right {
    width: 100%;
    height: auto;
    margin-bottom: 20px; }

  .block-info-pok .decor-page {
    display: none; }

  .block-info-pok .wrap-info-text {
    flex-direction: column; }

  .block-info-pok .work_text_item img {
    width: 100%; } }
@media (max-width: 960px) {
  nav ul li {
    margin-right: 10px; }

  nav ul li:last-child {
    margin-right: 0; }

  .block-time-work_fav .block-time-work_item {
    padding-left: 0; }

  .block-time-work_fav {
    margin-top: 30px; }

  .title-block_clients__mt {
    margin-top: 50px; }

  .decor-page {
    display: none; }

  .wrap-info-text {
    flex-direction: column;
    margin-top: 40px; }

  .wrap-info-text_left {
    margin-right: 0; }

  .block-info-about {
    height: auto;
    padding-bottom: 50px; }

  .block-profitable .title-slide {
    font-size: 28px;
    line-height: 30px; }

  .block-profitable .work_text_item__c {
    font-size: 20px; }

  .block-profitable {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; }

  .block-info-about_bottom .title-slide {
    width: 100%; }

  .block-profitable_it_middle .decor-page {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
    margin-top: 100px; }

  .block-profitable_it_middle .decor-page object {
    display: none; }

  .block-profitable_it_middle .block-time-work_item {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 90px; }

  .block-profitable_it_middle .block-time-work_item .big-title-block {
    right: auto;
    left: 0; }

  .block-profitable_it_middle .block-time-work_item .work_text_item {
    text-align: left; }

  .block-profitable_it .title-slide {
    width: 100%;
    font-size: 26px; }

  .block-profitable_deliv .wrap-info-text {
    padding-left: 0; }

  .block-profitable {
    height: auto;
    padding: 50px 0; }

  .block-profitable_deliv .wrap-info-text_right,
  .wrap-form-vak form {
    max-width: 100%; }

  .wrap-news-page .item-news_info {
    width: 100%; }

  .wrap-form-vak .wrap-form,
  .wrap-form-vak .input-section_check label {
    width: 100%; }

  .block-info_news .decor-page_kmt_cont {
    display: block; } }
@media (max-width: 768px) {
  .wrap-news {
    flex-wrap: wrap; }

  .wrapper-info-item {
    margin-bottom: 20px; }

  .title-slide {
    width: auto;
    margin-left: 0; }

  .links-city a {
    font-size: 20px; } }
@media (max-width: 767px) {
  header {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    z-index: 50;
    overflow: auto; }

  .link-phone_top {
    margin-top: 20px; }

  .container_header {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px; }

  .header_left {
    flex-direction: column;
    justify-content: center; }

  .header_right {
    flex-direction: column;
    justify-content: center; }

  nav ul {
    justify-content: center; }

  .title-block {
    position: relative;
    z-index: 4;
    font-size: 28px; }

  .logo {
    display: none; }

  nav ul {
    flex-direction: column; }

  nav ul li {
    margin-bottom: 10px; }

  .header_right_icons {
    margin-top: 15px; }

  .header_right_icons a:first-child {
    margin-right: 8px; }

  header .button_helpdesk {
    display: none; }

  header .link_helpdesk {
    margin-top: 50px;
    margin-left: 0; }

  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block; }

  .menu-m {
    display: block;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, #52426B 0%, #01071f 100%); }

  .logo_m {
    display: block;
    margin-top: 5px; }

  .logo_m object {
    width: 80px;
    height: 22px; }

  .top-footer .link-phone {
    margin-left: 0; }

  .sub-link:after {
    display: inline-block; }

  .wrap-profitable-item .block-time-work_item {
    margin-bottom: 30px; }

  .wrap-info-text_right {
    margin-top: 20px; }

  .wrap-title-page {
    left: 20px; }

  .block-profitable_arguments .block-time-work_item:last-child .work_title_item {
    width: 100%; }

  .wrap-pokop-text {
    width: 100%; }

  .block-info-pok {
    margin-top: 100px; }

  .close-popup {
    top: 20px;
    right: 15px; }

  .close-popup object {
    width: 20px;
    height: 20px; }

  .wrap-popup .title-block {
    font-size: 18px;
    line-height: 25px; }

  .wrap-popup .work_text_item,
  .wrap-popup .input-section {
    padding: 0 15px; }

  .wrap-popup form {
    margin-top: 20px; }

  .wrap-popup .work_text_item {
    margin-top: 10px; }

  .area-popup .wrap-form:first-child {
    margin-bottom: 15px; }

  .input-section_check,
  .input-section_submit {
    margin-top: 15px; }

  .area-popup_consult form input.wrap-form_input__w {
    margin-top: 0; }

  .container {
    padding: 0 17px; }

  .big-title-block svg g text {
    font-size: 62px; }

  .big-title-block svg {
    width: 316px; }

  .slider-shadow-text {
    display: none; }

  .link-text-phone_m {
    display: block; }

  .item-slide-main .title-slide {
    padding-top: 68px;
    margin-left: 0;
    text-align: center;
    font-weight: 600; }

  .item-slide-main .text-slide {
    max-width: 100%;
    padding-left: 0;
    text-align: center; }

  .img-slide {
    bottom: 105px; }

  .item-slide-main .link-phone_shw {
    margin: 208px auto 0; }

  .block-main-slider .nav-slider {
    bottom: 66px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center; }

  .block-main-slider .decor-slider {
    bottom: 192px;
    right: 29px;
    width: 316px;
    height: 293px;
    background: url("../img/Group_51_320.png") no-repeat; }

  .big-title-block_main {
    top: -57px; }

  .block-time-work_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 51px;
    text-align: center; }

  .block-time-work_item .work_text_item {
    max-width: 100%;
    margin-right: 0; }

  .img-slide__op {
    top: 347px; }

  .title-block {
    font-size: 24px;
    line-height: 29px; }

  .block-restart .title-block_work {
    margin-top: 56px;
    text-align: center; }

  .block-time-work_fav .block-time-work_item {
    width: 100%;
    margin-right: 0;
    text-align: center; }

  .big-title-block_fav {
    top: -127px;
    left: 50%;
    width: 100px;
    height: 50px;
    margin-left: -50px; }

  .big-title-block_fav svg {
    width: 77px; }

  .block-time-work_fav .work_title_item {
    max-width: 220px;
    margin: 0 auto; }

  .block-time-work_fav {
    padding-top: 40px; }

  .block-service {
    margin-top: 50px; }

  .title-bold-block_icon:before {
    left: 50%;
    margin-left: -28px; }

  .title-bold-block {
    text-align: center; }

  .links-service {
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .links-service a {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    text-align: center; }

  .links-service a span {
    display: none; }

  .title-bold-block_icon:before {
    top: -60px; }

  .title-bold-block_deliv:before {
    top: -46px;
    left: 50%;
    width: 35px;
    height: 30px;
    margin-left: -17.5px;
    background: url("../img/delivery_2_320.png") no-repeat; }

  .wrap-service_deliv {
    margin-left: 0; }

  .title-bold-block_deliv {
    margin-top: 127px; }

  .title-bold-block:after {
    left: 50%;
    width: 80px;
    margin-left: -40px; }

  .big-title-block_howwork .circle-restart {
    width: 128px;
    height: 133px;
    background: url("../img/Group_52_320.png") no-repeat; } }
@media (max-width: 657px) {
  .sections-footer {
    flex-direction: column; }

  .item-section-f {
    margin-top: 20px; } }
@media (max-width: 601px) {
  .wrap-form {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0; }

  .input-section .wrap-form_input__w {
    margin-top: 0; }

  .item-news_img {
    width: 100%;
    height: auto; }

  .item-news_img img {
    width: 100%;
    height: auto; }

  .wrap-service,
  .block-service {
    flex-direction: column; }

  .links-service {
    margin-top: 40px;
    margin-left: 0; }

  .top-footer {
    flex-direction: column; }

  .top-footer .link-phone {
    margin-top: 20px; }

  .top-footer .link-phone,
  .link-text-phone {
    margin-left: 0; }

  .bottom-line-f {
    margin-top: 15px; }

  .wrap-title-page_it .title-slide {
    font-size: 28px; }

  .decor-page_kmt_cont object {
    display: none; }

  .block-info_news .decor-page_kmt_cont {
    margin-top: 30px; }

  #map {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; } }
@media (max-width: 425px) {
  .bottom-line-f .container {
    justify-content: center; } }

/*# sourceMappingURL=mobile.css.map */
